.second-block
	.container
		h6.pre-headline Как развивалась компания на протяжении 3-х лет
		h2.page-headline Три года стабильной работы и более 
			|
			br
			| 1 млн. выплаченных дивидендов
		.timeline-block
			img(src="./images/timeline.png", alt="timeline")
			.timeline-description-block
				.item.item-1
					h2.num 2015
					h3.title Первые трейдеры
					p.content Весной 2015 года в компании появились первые трейдеры, которые занимались 
						br
						| продажей криптовалют.
				.item.item-2
					h2.num 2016
					h3.title Cоздание криптовалюты
					p.content Компания анонсировала создание собственной криптовалюты VerumCoin
				.item.item-3
					h2.num 2017
					h3.title Первые транзакции
					p.content Первые транзакции монетами VerumCoin с собственным блокчейном
				.item.item-4
					h2.num 2018
					h3.title Создание новых отделов
					p.content Создание нового аналитического отдела который занимается изучением новых выгодных 
						br
						| ICO проектов