.third-block
	.container
		.row
			.col-lg-6.col-md-12
				h6.pre-headline Verumcoin
				h2.page-headline Собственная 
					|
					br
					| цифровая валюта 
					br
					| Verumcoin
				p Компания VerumTrade развивает собственную криптовалюту, с целью обеспечить быстрые и безопасные платежи среди всех пользователей системы. При достижении определенного объема транзакций, монета будет опубликована на биржу.
				.btn-row
					a(href="#lightbox1", data-toggle="modal").custom-btn
						span Смотреть видео
						// ?xml version="1.0" encoding="UTF-8" standalone="no"?
						svg#svg2(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', version='1.1', viewBox='0 0 480 480', height='480', width='480')
							metadata#metadata10
								rdf:rdf
									cc:work(rdf:about='')
										dc:format image/svg+xml
										dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
										dc:title
							defs#defs8
							path#path4(fill='#ffffff' d='M 190,340 290,240 190,140 Z')
					a(href="https://verumcoin.com/", target="_blank").secondary-btn
						span Подробнее
						svg#button(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 36.1 25.8', enable-background='new 0 0 36.1 25.8', xml:space='preserve')
							g
								polyline(fill='none', stroke='#3469f5', stroke-width='3', stroke-miterlimit='10', points='22.2,1.1 34,12.9 22.2,24.7')
			.col-lg-6.col-md-12
				img(src="./images/verumcoin.png", alt="Verumcoin", style="width: 586px; height: 514px;")
	#lightbox1.modal.fade.photo-video-modal
		.modal-dialog.window
			button.close-modal(type="button", data-dismiss="modal", aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-content
				//- content