.first-block
	.container
		.row
			.col-lg-6.col-md-12
				h6.pre-headline О компании
				h2.page-headline Международная 
					|
					br
					| инвестиционная 
					br
					| компания VerumTrade
				p Мы предлагаем более 5 решений для инвестиций
					|
					br
					| от 10 до 50.000$, которые подойдут не только 
					br
					| опытным предпринимателям, но и студентам. 
					br
					| Собственная криптовалюта, онлайн-биржа и 3 
					br
					| года успешной работы на конкурентном рынке.
				.btn-row
					a(href="https://backoffice.verumtrade.com/sign_up", target="_blank").custom-btn
						span Зарегистрироваться
						svg#button(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 36.1 25.8', enable-background='new 0 0 36.1 25.8', xml:space='preserve')
							g
								polyline(fill='none', stroke='#FFFFFF', stroke-width='3', stroke-miterlimit='10', points='22.2,1.1 34,12.9 22.2,24.7')
					a(href="./files/VerumTradeПрезентация.pdf", target="_blank").secondary-btn
						span Скачать PDF
						svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
							path(fill='#3469f5' d='M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z')
			.col-lg-6.col-md-12
				a(href="https://www.youtube.com/watch?v=sYuRR2Ud9oI", target="_blank").pulse
					// ?xml version="1.0" encoding="UTF-8" standalone="no"?
					svg#svg2(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', version='1.1', viewBox='0 0 480 480', height='480', width='480')
						metadata#metadata10
							rdf:rdf
								cc:work(rdf:about='')
									dc:format image/svg+xml
									dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
									dc:title
						defs#defs8
						path#path4(fill='#ffffff' d='M 190,340 290,240 190,140 Z')
				img(src="./images/about-us.png", alt="About us", style="width: 514px; height: 515px;")