.row.first-block
	.col-sm-3.referral-table-wrap
		table.referral-table
			thead.blue-thead
				tr
					th Реферальная линия
			tbody
				tr
					td
						span 1 линия
				tr
					td
						span 2 линия
				tr
					td
						span 3 линия
				tr
					td
						span 4 линия
				tr
					td
						span 5 линия
				tr
					td
						span 6 линия
				tr
					td
						span 7 линия
				tr
					td
						span 8 линия
	.col-sm-3.percent-table-wrap
		table.percent-table
			thead.green-thead
				tr
					th Процент от партнера
			tbody
				tr
					td
						span 7%
				tr
					td
						span 4%
				tr
					td
						span 2%
				tr
					td
						span 1%
				tr
					td
						span 1%
				tr
					td
						span 1%
				tr
					td
						span 1%
				tr
					td
						span 1%
	.col-lg-6.col-md-12
		.content-wrapper
			h6.pre-headline Комиссионные компании
			h2.page-headline Комиссионные 
				|
				br
				| за привлечение 
				|
				br
				| новых инвесторов
			p Компания выплачивает вам определенный % за продажу продукта (инвестиционного портфеля VerumTrade). 
			p Каждый раз, когда по вашей рекомендации (реферальной ссылке вашего кабинета) покупается инвестпортфель VerumTrade, вам начисляется %.
			+button-name("Стать партнёром")