.row.third-block
	.col-lg-6.col-md-12
		h6.pre-headline Вывод денег
		h2.page-headline Ввод и вывод 
			|
			br
			| денег через системы 
			br
			| Visa/Mastercard
		p Наличие Visa/Mastercard в качестве систем оплаты и вывода средств еще раз доказывает, что компания ведет легальную деятельность и нацелена на долгосрочное развитие.
		p Помимо традиционных и удобных для большинства клиентов ввода и вывода денежных средств, мы также предлагаем проводить финансовые операции в криптовалюте.
	.col-lg-6.col-md-12
		img(src="./images/credit-card.png", alt="credit card", style="width: 525px; height: 501px;")