extends layouts/_inner.pug

block head-meta
	+head-meta(
	'Галерея - VerumTrade', 
	'Галерея - VerumTrade', 
	'https://verumtrade.com/gallery.html'
	)

block main-content
	.gallery-page
		.container
			h6.pre-headline Галерея
			h1.page-headline.ta-c Конференции VerumTrade
			.flex-block
				.flex-item
					figure.top-half
						img.image(src="./images/gallery.png", alt="image")
						.camera
							i.zmdi.zmdi-camera
						.middle
							a(href="#lightbox1", data-toggle="modal").custom-btn
								span Смотреть фотографии
								svg#button(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 36.1 25.8', enable-background='new 0 0 36.1 25.8', xml:space='preserve')
									g
										polyline(fill='none', stroke='#FFFFFF', stroke-width='3', stroke-miterlimit='10', points='22.2,1.1 34,12.9 22.2,24.7')
					.bottom-half
						.location
							i.zmdi.zmdi-pin
							span Локация: Киев
						.date
							i.zmdi.zmdi-calendar-note
							span 28.04.2017
						h3.title Блокчейн конференция
						.share
							.share-desc
								i.zmdi.zmdi-share
								span Поделиться в соцсетях:
							.share-links
								a(href="javascript:void(0);")
									i.zmdi.zmdi-facebook
								a(href="javascript:void(0);")
									i.zmdi.zmdi-vk
								a(href="javascript:void(0);")
									i.zmdi.zmdi-google-plus-box
								a(href="javascript:void(0);")
									i.zmdi.zmdi-twitter
				.flex-item
					figure.top-half
						img.image(src="./images/gallery.png", alt="image")
						.camera
							i.zmdi.zmdi-camera
						.middle
							a(href="#lightbox2", data-toggle="modal").custom-btn
								span Смотреть фотографии
								svg#button(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 36.1 25.8', enable-background='new 0 0 36.1 25.8', xml:space='preserve')
									g
										polyline(fill='none', stroke='#FFFFFF', stroke-width='3', stroke-miterlimit='10', points='22.2,1.1 34,12.9 22.2,24.7')
					.bottom-half
						.location
							i.zmdi.zmdi-pin
							span Локация: Киев
						.date
							i.zmdi.zmdi-calendar-note
							span 28.04.2017
						h3.title Блокчейн конференция
						.share
							.share-desc
								i.zmdi.zmdi-share
								span Поделиться в соцсетях:
							.share-links
								a(href="javascript:void(0);")
									i.zmdi.zmdi-facebook
								a(href="javascript:void(0);")
									i.zmdi.zmdi-vk
								a(href="javascript:void(0);")
									i.zmdi.zmdi-google-plus-box
								a(href="javascript:void(0);")
									i.zmdi.zmdi-twitter
				.flex-item
					figure.top-half
						img.image(src="./images/gallery.png", alt="image")
						.camera
							i.zmdi.zmdi-camera
						.middle
							a(href="#lightbox3", data-toggle="modal").custom-btn
								span Смотреть фотографии
								svg#button(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 36.1 25.8', enable-background='new 0 0 36.1 25.8', xml:space='preserve')
									g
										polyline(fill='none', stroke='#FFFFFF', stroke-width='3', stroke-miterlimit='10', points='22.2,1.1 34,12.9 22.2,24.7')
					.bottom-half
						.location
							i.zmdi.zmdi-pin
							span Локация: Киев
						.date
							i.zmdi.zmdi-calendar-note
							span 28.04.2017
						h3.title Блокчейн конференция
						.share
							.share-desc
								i.zmdi.zmdi-share
								span Поделиться в соцсетях:
							.share-links
								a(href="javascript:void(0);")
									i.zmdi.zmdi-facebook
								a(href="javascript:void(0);")
									i.zmdi.zmdi-vk
								a(href="javascript:void(0);")
									i.zmdi.zmdi-google-plus-box
								a(href="javascript:void(0);")
									i.zmdi.zmdi-twitter
		#lightbox1.modal.fade.photo-video-modal
			.modal-dialog.window
				button.close-modal(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-content
					#carousel1.carousel.slide(data-ride='carousel')
						.carousel-inner
							.carousel-item.active
								img.img-responsive(src='http://placehold.it/673x376/eaeaea/000&text=1', alt='...')
							.carousel-item
								img.img-responsive(src='http://placehold.it/673x376/eaeaea/000&text=2', alt='...')
							.carousel-item
								img.img-responsive(src='http://placehold.it/673x376/eaeaea/000&text=3', alt='...')
						a.carousel-control-prev(href='#carousel1', role='button', data-slide='prev')
							span.zmdi.zmdi-chevron-left
						a.carousel-control-next(href='#carousel1', role='button', data-slide='next')
							span.zmdi.zmdi-chevron-right
		#lightbox2.modal.fade.photo-video-modal
			.modal-dialog.window
				button.close-modal(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-content
					#carousel2.carousel.slide(data-ride='carousel')
						.carousel-inner
							.carousel-item.active
								img.img-responsive(src='http://placehold.it/673x376/eaeaea/000&text=4', alt='...')
							.carousel-item
								img.img-responsive(src='http://placehold.it/673x376/eaeaea/000&text=5', alt='...')
							.carousel-item
								img.img-responsive(src='http://placehold.it/673x376/eaeaea/000&text=6', alt='...')
						a.carousel-control-prev(href='#carousel2', role='button', data-slide='prev')
							span.zmdi.zmdi-chevron-left
						a.carousel-control-next(href='#carousel2', role='button', data-slide='next')
							span.zmdi.zmdi-chevron-right
		#lightbox3.modal.fade.photo-video-modal
			.modal-dialog.window
				button.close-modal(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-content
					#carousel3.carousel.slide(data-ride='carousel')
						.carousel-inner
							.carousel-item.active
								img.img-responsive(src='http://placehold.it/673x376/eaeaea/000&text=7', alt='...')
							.carousel-item
								img.img-responsive(src='http://placehold.it/673x376/eaeaea/000&text=8', alt='...')
							.carousel-item
								img.img-responsive(src='http://placehold.it/673x376/eaeaea/000&text=9', alt='...')
						a.carousel-control-prev(href='#carousel3', role='button', data-slide='prev')
							span.zmdi.zmdi-chevron-left
						a.carousel-control-next(href='#carousel3', role='button', data-slide='next')
							span.zmdi.zmdi-chevron-right