extends layouts/_inner.pug

block head-meta
	+head-meta(
	'Маркетинг - VerumTrade', 
	'Маркетинг - VerumTrade', 
	'https://verumtrade.com/marketing.html'
	)

block feedback-modal
	include includes/_feedback-modal


block extra-js
	script(src="js/feedback-modal.js")
	script(src="js/infinite-decoration.js")

block main-content
	.marketing-page
		.container
			.row.first-block
				.col-lg-3.col-md-6.referral-table-wrap
					table.referral-table
						thead.blue-thead
							tr
								th Реферальная линия
						tbody
							tr
								td
									span 1 линия
							tr
								td
									span 2 линия
							tr
								td
									span 3 линия
							tr
								td
									span 4 линия
							tr
								td
									span 5 линия
							tr
								td
									span 6 линия
							tr
								td
									span 7 линия
							tr
								td
									span 8 линия
				.col-lg-3.col-md-6.percent-table-wrap
					table.percent-table
						thead.green-thead
							tr
								th Процент от партнера
						tbody
							tr
								td
									span 7%
							tr
								td
									span 4%
							tr
								td
									span 2%
							tr
								td
									span 1%
							tr
								td
									span 1%
							tr
								td
									span 1%
							tr
								td
									span 1%
							tr
								td
									span 1%
				.col-lg-6.col-md-12
					.content-wrapper
						h6.pre-headline Комиссионные компании
						h2.page-headline Комиссионные 
							|
							br
							| за привлечение 
							|
							br
							| новых инвесторов
						p Компания выплачивает вам определенный 
							br
							| % за продажу продукта (инвестиционного 
							br
							| портфеля VerumTrade). 
						p Каждый раз, когда по вашей рекомендации 
							br
							| (реферальной ссылке вашего кабинета) 
							br
							| покупается инвестпортфель VerumTrade, 
							br
							| вам начисляется %.
						a(href="https://backoffice.verumtrade.com/sign_up", target="_blank").custom-btn
							span Стать партнером
							svg#button(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 36.1 25.8', enable-background='new 0 0 36.1 25.8', xml:space='preserve')
								g
									polyline(fill='none', stroke='#FFFFFF', stroke-width='3', stroke-miterlimit='10', points='22.2,1.1 34,12.9 22.2,24.7')
			.second-block
				.row
					.col-sm-12
						h6.pre-headline Премии VerumTrade
						h2.page-headline.ta-c Ранги и премии
						p.ta-c Единоразово компания выплачивает премию при достижении определенного 
							|
							br
							|
							a(href="javascript:void(0);").default-tooltip#default-tooltip объема инвестиций 
								span.tooltip-wave
									span
							|  в вашей команде. Размер бонуса зависит от достигнутого ранга.
				.row
					.col-lg-3.col-md-6.first-table-wrap
						table.first-table
							thead.green-thead
								tr
									th Категория лидера
							tbody
								tr
									td
										span 7%
								tr
									td
										span 4%
								tr
									td
										span 2%
								tr
									td
										span 1%
					.col-lg-3.col-md-6.second-table-wrap
						table.second-table
							thead.blue-thead
								tr
									th Оборот ($)
							tbody
								tr
									td
										span 50 000$
								tr
									td
										span 100 000$
								tr
									td
										span 500 000$
								tr
									td
										span 1 000 000$
					.col-lg-3.col-md-6.third-table-wrap
						table.third-table
							thead.green-thead
								tr
									th Пакет акций компании
							tbody
								tr
									td
										span -
								tr
									td
										span -
								tr
									td
										span 0.5% - акций
								tr
									td
										span 1% - акций
					.col-lg-3.col-md-6.fourth-table-wrap
						table.fourth-table
							thead.blue-thead
								tr
									th Премия ($)
							tbody
								tr
									td
										span 2 000$
								tr
									td
										span 5 000$
								tr
									td
										span 20 000$
								tr
									td
										span 50 000$
			.row.third-block
				.col-lg-6.col-md-12
					h6.pre-headline Вывод денег
					h2.page-headline Ввод и вывод 
						|
						br
						| денег через системы 
						br
						| Visa/Mastercard
					p Наличие Visa/Mastercard в качестве систем оплаты 
						br
						| и вывода средств еще раз доказывает, что компания 
						br
						| ведет легальную деятельность и нацелена 
						br
						| на долгосрочное развитие.
					p Помимо традиционных и удобных для большинства 
						br
						| клиентов ввода и вывода денежных средств, мы 
						br
						| также предлагаем проводить финансовые операции 
						br
						| в криптовалюте.
				.col-lg-6.col-md-12
					img(src="./images/credit-card.png", alt="credit card", style="width: 525px; height: 501px;")
			.feedback-block
				h6.pre-headline Обратная связь
				+feedback-block-headline("Остались вопросы?")
				+feedback-block-content("Свяжитесь с нами через форму обратной связи")
				+feedback-button("Задать вопрос")